@namespace EficazFramework.Components
@inherits MudBlazor.MudComponentBase
@using EficazFramework.Application

<div class="@ClassName()"
     style="@Style">
    <div class="d-flex mx-2 align-center">
        <MudBlazor.MudTextField @bind-Value="SearchFilter"
                                Class="mud-input-control-ef flex-grow1"
                                Placeholder="@Resources.Strings.Components.MDIApplication_FindPlaceholder"
                                Adornment="MudBlazor.Adornment.Start"
                                AdornmentIcon="@MudBlazor.Icons.Material.Filled.Search"
                                Immediate
                                AutoFocus />
        <MudBlazor.MudTooltip Text="@(_isCompact ? Resources.Strings.Components.MDIApplication_ToggleApp_GridView : Resources.Strings.Components.MDIApplication_ToggleApp_ListView)">
            <MudBlazor.MudIconButton Variant="@MudBlazor.Variant.Filled"
                                     Color="@MudBlazor.Color.Transparent"
                                     Icon="@(_isCompact ? MudBlazor.Icons.Material.Filled.GridView : MudBlazor.Icons.Material.Filled.List)"
                                     Size="@MudBlazor.Size.Medium"
                                     Class="ml-4 ef-buttons-togglehost"
                                     OnClick="ToggleHostView"
                                     Title="Alternar visualização" />
        </MudBlazor.MudTooltip>
    </div>

    <div class="mt-4" style="@HostStyle()">
        @if (!_isCompact)
        {
            @foreach (var group in FilteredApplications())
            {
                <MudBlazor.MudText Typo="MudBlazor.Typo.body1"
                           Class="mx-1 pb-1 px-2">
                    @group.Key
                </MudBlazor.MudText>
                <MudBlazor.MudGrid Class="mx-1 ml-0 mb-4 pr-6"
                                   Spacing="2"
                                   Justify="MudBlazor.Justify.FlexStart">
                    @foreach (var app in group)
                    {
                        <MudBlazor.MudItem>
                            <MudBlazor.MudButton Variant="@MudBlazor.Variant.Filled"
                                                 Color="@MudBlazor.Color.Primary"
                                                 Size="@MudBlazor.Size.Large"
                                                 Class="pt-5 pb-7 ef-application-button"
                                                 OnClick="() => SelectionCallBack?.Invoke(app)">
                                <MudBlazor.MudIcon Icon="@(app.Blazor()?.Icon?.ToString())"
                                                   Class="ef-application-button-icon" />
                                <MudBlazor.MudText Typo="MudBlazor.Typo.caption"
                                                   Align="MudBlazor.Align.Center"
                                                   Class="mt-n3 ef-application-button-caption"
                                                   Style="">
                                    @app.Title
                                </MudBlazor.MudText>
                            </MudBlazor.MudButton>
                        </MudBlazor.MudItem>
                    }
                </MudBlazor.MudGrid>
            }
        }
        else
        {
            <MudBlazor.MudList T="IGrouping<string, ApplicationDefinition>"
                               Class="py-0">
                @foreach (var group in FilteredApplications())
                {
                    <MudBlazor.MudListItem Text="@group.Key"
                                           Expanded>
                        <NestedList>
                            @foreach (var app in group)
                            {
                                <MudBlazor.MudListItem Icon="@(app.Blazor()?.Icon?.ToString())"
                                                       Text="@app.TooltipTilte"
                                                       OnClick="() => SelectionCallBack?.Invoke(app)"/>
                            }
                        </NestedList>
                    </MudBlazor.MudListItem>
                }
            </MudBlazor.MudList>
        }

    </div>
</div>