@using Microsoft.AspNetCore.Components.Web
@using EficazFramework.Application
@using System.Drawing
@namespace EficazFramework.Components
@inherits MudBlazor.MudComponentBase

<div class="@Classname" 
     style="@StyleName"
     @onpointerup="OnHeaderPointerUpOrLeave"
     @onpointermove="OnHeaderPointerMove"
     @onpointerleave="OnHeaderPointerUpOrLeave">
    <CascadingValue Value="this">
        @*MDI AREA*@
        @if (BrowserViewportService.IsBreakpointWithinReferenceSizeAsync(Breakpoint, _breakpoint).GetAwaiter().GetResult())
        {
            <div class="d-flex flex-grow-1">
                @if(SelectedApp != null)
                {
                    <MdiWindow ApplicationInstance="SelectedApp"
                               Title="@SelectedApp.Title"
                               Icon="@(SelectedApp.Blazor()!.Icon?.ToString())"
                               Resizable="false"
                               IsMaximized="true">
                        <DynamicComponent Type="@((Type)(SelectedApp.Blazor()!.StartupUriOrType ?? typeof(string)))" />
                    </MdiWindow>
                }
            </div>
        }
        else
        {
            <div class="d-flex flex-grow-1"
                 style="overflow:auto"
                 ondragover="event.preventDefault();"
                 ondragstart="event.dataTransfer.setData('', event.target.id);">
                @foreach (var item in RunningApplications())
                {
                    <MdiWindow ApplicationInstance="item"
                               Title="@item.Title"
                               Icon="@item.Blazor()!.Icon?.ToString()"
                               Resizable="@item.Blazor()!.Resizable"
                               IsMaximized="@item.Blazor()!.IsMaximized">
                        <DynamicComponent Type="@((Type)(item.Blazor()!.StartupUriOrType ?? typeof(string)))" />
                    </MdiWindow>
                }
            </div>
        }
        <div class="d-flex" style="background-color: var(--mud-palette-background-gray);z-index: calc(var(--mud-zindex-appbar) - 101); height: 48px;">
            @*TASKBAR*@         
            @ToolbarLeftContent
            @foreach (var item in RunningApplications())
            {
                <MudBlazor.MudTooltip Text="@item.Title">
                    <MudBlazor.MudIconButton Variant="@MudBlazor.Variant.Filled"
                                                Color="@MudBlazor.Color.Transparent"
                                                Class="ef-mdi-buttons-toolbar mud-elevation-0"
                                                Icon="@item.Blazor()!.Icon?.ToString()"
                                                Size="@MudBlazor.Size.Medium"
                                                DisableElevation
                                                Style="@TaskBarAppInstanceButtonStyle(item)"
                                                OnClick="() => LoadApplication(item.Metadata)"/>
                </MudBlazor.MudTooltip>
            }
            <MudBlazor.MudSpacer/>
            @ToolbarRightContent
        </div>
    </CascadingValue>
</div>