@using Microsoft.AspNetCore.Components.Web
@using EficazFramework.Application
@namespace EficazFramework.Components
@inherits MudBlazor.MudBaseBindableItemsControl<MdiWindow, ApplicationInstance>

<CascadingValue Value="this">
    <div class="@Classname" style="@StyleName">
        @if (ItemsSource == null)
        {
            @ChildContent
        }
        else
        {
            foreach (var item in RunningApplications())
            {
                <MdiWindow Application="item" 
                           Title="@item.Title"
                           Size="new(200,125)"
                           Icon="@(item.Targets["Blazor"]?.Icon.ToString())">
                    <DynamicComponent Type="@((Type)item.Targets["Blazor"].StartupUriOrType)" />
                </MdiWindow>
            }
        }
    </div>
</CascadingValue>

