@using Microsoft.AspNetCore.Components.Web
@using EficazFramework.Application
@using System.Drawing
@namespace EficazFramework.Components
@inherits MudBlazor.MudComponentBase

<div class="@Classname" 
     style="@StyleName" >
    <CascadingValue Value="this">
        @*MDI AREA*@
        <div class="d-flex flex-grow-1"
             ondragover="event.preventDefault();"
             ondragstart="event.dataTransfer.setData('', event.target.id);">
            @foreach (var item in RunningApplications())
            {
                <MdiWindow ApplicationInstance="item"
                           Title="@item.Title"
                           Icon="@(item.Targets["Blazor"].Icon?.ToString())"
                           IsMaximized="@((bool?)item.Targets["Blazor"].Properties["IsMaximized"] ?? false)">
                    <DynamicComponent Type="@((Type)(item.Targets["Blazor"].StartupUriOrType ?? typeof(string)))" />
                </MdiWindow>
            }
        </div>
@*        @if (BreakpointListener.IsMediaSize(Breakpoint, _breakpoint))
        {
            <div>I'm compact!</div>
        }
        else
        {
            <div>I'm full!</div>
        }*@
        <div class="d-flex" style="background-color: var(--mud-palette-background-grey);z-index: var(--mud-zindex-appbar) - 101; height: 48px;">
            @*TASKBAR*@         
            @ToolbarLeftContent
            @foreach (var item in RunningApplications())
            {
                <MudBlazor.MudTooltip Text="@item.Title">
                    <MudBlazor.MudIconButton Variant="@MudBlazor.Variant.Filled"
                                                Color="@MudBlazor.Color.Transparent"
                                                Class="ef-mdi-buttons-toolbar"
                                                Icon="@(item.Targets["Blazor"].Icon?.ToString())"
                                                Size="@MudBlazor.Size.Medium"
                                                DisableElevation
                                                Style="@TaskBarAppInstanceButtonStyle(item)"
                                                OnClick="() => LoadApplication(item.Metadata)"/>
                </MudBlazor.MudTooltip>
            }
            <MudBlazor.MudSpacer/>
            @ToolbarRightContent
            </div>
    </CascadingValue>
</div>