@using Microsoft.AspNetCore.Components.Web
@using EficazFramework.Application
@using System.Drawing
@namespace EficazFramework.Components
@inherits MudBlazor.MudBaseBindableItemsControl<MdiWindow, ApplicationInstance>

<CascadingValue Value="this">
    <div class="@Classname" 
         style="@StyleName" 
         @onclick="CloseMenus">
        @*MDI AREA*@
        <MudBlazor.MudHidden Breakpoint="@Breakpoint" >
            <div class="d-flex flex-grow-1"
                 ondragover="event.preventDefault();"
                 ondragstart="event.dataTransfer.setData('', event.target.id);">
                @if (ItemsSource == null)
                {
                    @ChildContent
                }
                else
                {
                    foreach (var item in RunningApplications())
                    {
                        <MdiWindow ApplicationInstance="item"
                                   Title="@item.Title"
                                   Icon="@(item.Targets["Blazor"]?.Icon.ToString())"
                                   IsMaximized="@((bool?)item.Targets["Blazor"]?.Properties["IsMaximized"] ?? false)">
                            <DynamicComponent Type="@((Type)item.Targets["Blazor"].StartupUriOrType)" />
                        </MdiWindow>
                    }
                }
            </div>
        </MudBlazor.MudHidden>
        @*SELECTED CONTENT AREA (FOR RESPONSIVE DESIGN)*@
        <MudBlazor.MudHidden Invert
                             Breakpoint="@Breakpoint">
             <div class="flex-grow-1 overflow-hidden">
                @if (SelectedApp != null)
                 {
                    <CascadingValue Value="SelectedApp">
                        <DynamicComponent Type="@((Type)SelectedApp!.Targets["Blazor"].StartupUriOrType)" />
                     </CascadingValue>
                 }
                 else
                 {                 
                    @ChildContent
                 }
             </div>
        </MudBlazor.MudHidden>
        <div class="d-flex" style="background-color: var(--mud-palette-background-grey);z-index:2">
            @*TASKBAR*@         
            
            @*START MENU BUTTON*@            


            @*CURRENT SECTION CLICK*@    
            @if (ShowSectionsArea)
            {
                <MudBlazor.MudTooltip Text="@Resources.Strings.Components.MDIContainer_Sections">
                    <MudBlazor.MudIconButton Variant="@MudBlazor.Variant.Filled"
                                             Color="@MudBlazor.Color.Transparent"
                                             Class="ef-mdi-buttons-toolbar"
                                             Size="@MudBlazor.Size.Large"
                                             DisableElevation
                                             OnClick="() => ToggleSectionsMenuOpen()"
                                             Title="Sections Button">
                        <div class="ef-mdi-sections-current">
                            @if (CurrentSection == 0)
                            {
                                <MudBlazor.MudIcon Icon="@MudBlazor.Icons.Material.Outlined.ViewCarousel" Class="ma-4" Size="MudBlazor.Size.Medium" />
                            }
                            else
                            {
                                @if (CurrentSectionTemplate != null)
                                {
                                    @CurrentSectionTemplate
                                }
                                else
                                {
                                    <MudBlazor.MudText Typo="@MudBlazor.Typo.h4">
                                        @CurrentSection
                                    </MudBlazor.MudText>
                                }
                            }
                        </div>
                    </MudBlazor.MudIconButton>
                    @*SECTIONS MENU FRAME*@            
                    <MudBlazor.MudPopover Open="_sectionsMenuIsOpen" 
                                          Elevation="0"
                                          AnchorOrigin="MudBlazor.Origin.TopLeft"
                                          TransformOrigin="MudBlazor.Origin.BottomLeft"
                                          Style="background-color:unset; left: 0px !important">
                        <MudBlazor.MudPaper Elevation="8" 
                                            Class="ef-mdi-sections-menu d-flex flex-column pa-4 ma-8">

                            <MudBlazor.MudGrid Spacing="3" 
                                               Class="pa-1 overflow-y-auto"
                                               Justify="MudBlazor.Justify.FlexStart">
                                           
                                @*NEW SECTION ACTIOn*@            
                                <MudBlazor.MudItem>
                                        <MudBlazor.MudTooltip Text="@NewSectionText">
                                            <MudBlazor.MudIconButton Icon="@MudBlazor.Icons.Material.Filled.Add"
                                                                     Size="@MudBlazor.Size.Large"
                                                                     Class="mud-paper-outlined" 
                                                                     Style="width:125px;height:125px;background-color: var(--mud-palette-background-grey)"
                                                                     Variant="@MudBlazor.Variant.Outlined"
                                                                     OnClick="@(() => NewSectionClick?.Invoke())"/>
                                        </MudBlazor.MudTooltip>
                                </MudBlazor.MudItem>

                                @*Section SOURCE*@
                                @foreach (var section in SectionsSource.Where(f => f.ID > 0))
                                {
                                    <MudBlazor.MudItem @onclick="() => ActivateSection(section.ID)">
                                        <MudBlazor.MudPaper Outlined 
                                                            Class="pa-2 d-flex flex-column"
                                                            Style="@SectionStyleName(section.ID)">
                                            <MudBlazor.MudText Typo="@MudBlazor.Typo.caption">
                                                @($"{section.ID} - {section.Name}")
                                            </MudBlazor.MudText>
                                            <MudBlazor.MudPaper Elevation="0" 
                                                                Class="flex-grow-1 d-flex justify-center align-center relative mt-1"
                                                                Style="background-color: var(--mud-palette-background-grey)">
                                                <MudBlazor.MudIcon Icon="@MudBlazor.Icons.Material.Filled.Image" 
                                                                   Class="ma-4"
                                                                   Size="@MudBlazor.Size.Large"/>
                                            </MudBlazor.MudPaper>
                                        </MudBlazor.MudPaper>
                                    </MudBlazor.MudItem>
                                }
                            </MudBlazor.MudGrid>
                        </MudBlazor.MudPaper>
                    </MudBlazor.MudPopover>
                </MudBlazor.MudTooltip>
            }
            
            @*OPENED APPS*@
            @foreach (var item in RunningApplications())
            {
                <MudBlazor.MudTooltip Text="@item.Title">
                    <MudBlazor.MudIconButton Variant="@MudBlazor.Variant.Filled"
                                             Color="@MudBlazor.Color.Transparent"
                                             Class="ef-mdi-buttons-toolbar"
                                             Icon="@(item.Targets["Blazor"]?.Icon.ToString())"
                                             Size="@MudBlazor.Size.Large"
                                             DisableElevation
                                             Style="@TaskBarAppInstanceButtonStyle(item)"
                                             OnClick="() => LoadApplication(item.Metadata)"/>
                </MudBlazor.MudTooltip>
            }
           
        </div>
    </div>
</CascadingValue>