@using Microsoft.AspNetCore.Components.Web
@using EficazFramework.Application
@using System.Drawing
@namespace EficazFramework.Components
@inherits MudBlazor.MudBaseBindableItemsControl<MdiWindow, ApplicationInstance>

<CascadingValue Value="this">
    <div class="@Classname" 
         style="@StyleName" 
         @onclick="CloseMenus">
        @*MDI AREA*@
        <MudBlazor.MudHidden Breakpoint="@Breakpoint" >
            <div class="flex-grow-1"
                 ondragover="event.preventDefault();"
                 ondragstart="event.dataTransfer.setData('', event.target.id);">
                @if (ItemsSource == null)
                {
                    @ChildContent
                }
                else
                {
                    foreach (var item in RunningApplications())
                    {
                        <MdiWindow ApplicationInstance="item"
                                   Title="@item.Title"
                                   Icon="@(item.Targets["Blazor"]?.Icon.ToString())">
                            <DynamicComponent Type="@((Type)item.Targets["Blazor"].StartupUriOrType)" />
                        </MdiWindow>
                    }
                }
            </div>
        </MudBlazor.MudHidden>
        @*SELECTED CONTENT AREA (FOR RESPONSIVE DESIGN)*@
        <MudBlazor.MudHidden Invert
                             Breakpoint="@Breakpoint">
             <div class="flex-grow-1 overflow-hidden">
                @if (_selectedApp != null)
                 {
                     <DynamicComponent Type="@((Type)_selectedApp!.Targets["Blazor"].StartupUriOrType)" />
                 }
                 else
                 {                 
                    @ChildContent
                 }
             </div>
        </MudBlazor.MudHidden>
        <div class="d-flex" style="background-color: var(--mud-palette-background-grey);z-index:2">
            @*TASKBAR*@         
            
            @*START MENU BUTTON*@            
            <MudBlazor.MudTooltip Text="@Resources.Strings.Components.MDIContainer_StartTab">
                <MudBlazor.MudIconButton Variant="@MudBlazor.Variant.Filled"
                                         Color="@MudBlazor.Color.Transparent"
                                         Icon="@StartMenuIcon"
                                         Size="@MudBlazor.Size.Large"
                                         Style="@StartMenuButtonStyle()"
                                         DisableElevation
                                         OnClick="() => ToggleStartMenuOpen()"/>
                @*START MENU FRAME*@            
                <MudBlazor.MudPopover Open="_startMenuIsOpen" 
                                      Elevation="0"
                                      AnchorOrigin="MudBlazor.Origin.TopLeft"
                                      TransformOrigin="MudBlazor.Origin.BottomLeft"
                                      Style="background-color:unset">
                    <MudBlazor.MudPaper Elevation="8" 
                                        Class="ef-mdi-start-menu d-flex flex-column pa-4 ma-8">
                        <div class="d-flex flex-column" style="height:inherit">
                            
                            @*HEADER*@
                            <div class="ef-mdi-start-header">
                                <MudBlazor.MudIcon Icon="@MudBlazor.Icons.Filled.Menu"
                                                   Class="mr-5"/>
                                <MudBlazor.MudText Typo="@MudBlazor.Typo.h6">
                                    @(_tabsHost?.ActivePanel?.Tag?.ToString() ?? "")
                                </MudBlazor.MudText>
                            </div>
                            
                            @*TABS*@
                            <MudBlazor.MudTabs Position="@MudBlazor.Position.Left" 
                                               Class="flex-grow-1 flex-shrink-0 ml-n4"
                                               PanelClass="d-flex flex-column ml-4 my-4"
                                               @ref="_tabsHost">
                                <MudBlazor.MudTabPanel Tag="@(Resources.Strings.Components.MDIApplication_TabApps_Header)"
                                                       Icon="@MudBlazor.Icons.Filled.GridView">
                                    <div class="d-flex mx-2 mt-n4 align-center">
                                        <MudBlazor.MudTextField @bind-Value="AppSearchFilter"
                                                                Class="flex-grow1" 
                                                                Placeholder="@Resources.Strings.Components.MDIApplication_FindPlaceholder"
                                                                Adornment="MudBlazor.Adornment.Start"
                                                                AdornmentIcon="@MudBlazor.Icons.Filled.Search"
                                                                Immediate 
                                                                AutoFocus/>
                                        <MudBlazor.MudTooltip Text="@(_startMenuIsCompact ? Resources.Strings.Components.MDIApplication_ToggleApp_GridView : Resources.Strings.Components.MDIApplication_ToggleApp_ListView)">
                                            <MudBlazor.MudIconButton Variant="@MudBlazor.Variant.Filled"
                                                                     Color="@MudBlazor.Color.Transparent"
                                                                     Icon="@(_startMenuIsCompact ? MudBlazor.Icons.Filled.GridView : MudBlazor.Icons.Filled.List)"
                                                                     Size="@MudBlazor.Size.Medium"
                                                                     Class="mt-6 ml-4"
                                                                     DisableElevation
                                                                     OnClick="ToggleStartMenuView"/>
                                        </MudBlazor.MudTooltip>
                                    </div>

                                    <div class="mt-4" style="@StartMenuAppsHostStyle()">
                                        @if (!_startMenuIsCompact)
                                        {
                                            @foreach (var group in FilteredApplications())
                                            {
                                                <MudBlazor.MudText Typo="MudBlazor.Typo.body1"
                                                                   Class="mx-1 pb-1 px-2">
                                                    @group.Key
                                                </MudBlazor.MudText>
                                                <MudBlazor.MudGrid Class="flex-grow-1 mx-1 mb-4 pr-6" Spacing="1">
                                                    @foreach (var app in group)
                                                    {
                                                        <MudBlazor.MudItem>
                                                            <MudBlazor.MudButton Variant="@MudBlazor.Variant.Filled"
                                                                                    Color="@MudBlazor.Color.Primary"
                                                                                    Size="@MudBlazor.Size.Large"
                                                                                    Class="py-6"
                                                                                    Style="width:96px; height:96px;"
                                                                                    OnClick="() => LoadApplication(app)">
                                                                <MudBlazor.MudIcon Icon="@(app.Targets["Blazor"].Icon?.ToString())"
                                                                                   Style="font-size:3rem !important"/>
                                                                <MudBlazor.MudText Typo="MudBlazor.Typo.caption"
                                                                                   Align="MudBlazor.Align.Center"
                                                                                   Class="mt-n3"
                                                                                   Style="position:absolute;bottom:4px;height:20px;">
                                                                    @app.Title
                                                                </MudBlazor.MudText>
                                                            </MudBlazor.MudButton>
                                                        </MudBlazor.MudItem>
                                                    }                              
                                                </MudBlazor.MudGrid>
                                            }
                                        }
                                        else
                                        {
                                            <MudBlazor.MudList Clickable="true" 
                                                               Class="py-0">
                                                @foreach (var group in FilteredApplications())
                                                {
                                                    <MudBlazor.MudListItem Text="@group.Key"
                                                                           InitiallyExpanded="true">
                                                        <NestedList>
                                                            @foreach (var app in group)
                                                            {
                                                                <MudBlazor.MudListItem Icon="@(app.Targets["Blazor"].Icon?.ToString())"
                                                                                       OnClick="() => LoadApplication(app)">
                                                                    @app.LongTitle
                                                                </MudBlazor.MudListItem>
                                                            }
                                                        </NestedList>
                                                    </MudBlazor.MudListItem>
                                                }
                                            </MudBlazor.MudList>
                                        }

                                    </div>
                                </MudBlazor.MudTabPanel>
                                @StartMenuTabs
                            </MudBlazor.MudTabs>
                            
                            @*Footer*@
                            <div class="ef-mdi-start-footer">
                                @StartMenuFooter
                            </div>

                        </div>
                    </MudBlazor.MudPaper>
                </MudBlazor.MudPopover>
            </MudBlazor.MudTooltip>

            @*CURRENT SECTION BLICK*@            
            <MudBlazor.MudTooltip Text="@Resources.Strings.Components.MDIContainer_Sections">
                <MudBlazor.MudIconButton Variant="@MudBlazor.Variant.Filled"
                                         Color="@MudBlazor.Color.Transparent"
                                         Size="@MudBlazor.Size.Large"
                                         Style="@StartMenuButtonStyle()"
                                         DisableElevation
                                         OnClick="() => ToggleSectionsMenuOpen()">
                    <div class="ef-mdi-sections-current">
                        @if (CurrentSectionTemplate != null)
                        {
                            @CurrentSectionTemplate
                        }
                        else
                        {
                            @CurrentSection
                        }
                    </div>
                </MudBlazor.MudIconButton>
                @*START MENU FRAME*@            
                <MudBlazor.MudPopover Open="_sectionsMenuIsOpen" 
                                      Elevation="0"
                                      AnchorOrigin="MudBlazor.Origin.TopLeft"
                                      TransformOrigin="MudBlazor.Origin.BottomLeft"
                                      Style="background-color:unset; left: 0px !important">
                    <MudBlazor.MudPaper Elevation="8" 
                                        Class="ef-mdi-sections-menu d-flex flex-column pa-4 ma-8">
                        <div class="d-flex flex-column" style="height:inherit">
                            

                        </div>
                    </MudBlazor.MudPaper>
                </MudBlazor.MudPopover>
            </MudBlazor.MudTooltip>
            
            @*OPENED APPS*@
            @foreach (var item in RunningApplications())
            {
                <MudBlazor.MudTooltip Text="@item.Title">
                    <MudBlazor.MudIconButton Variant="@MudBlazor.Variant.Filled"
                                             Color="@MudBlazor.Color.Transparent"
                                             Icon="@(item.Targets["Blazor"]?.Icon.ToString())"
                                             Size="@MudBlazor.Size.Large"
                                             DisableElevation
                                             Style="@TaskBarAppInstanceButtonStyle(item)"
                                             OnClick="() => LoadApplication(item.Metadata)"/>
                </MudBlazor.MudTooltip>
            }
           
        </div>
    </div>
</CascadingValue>