@using Microsoft.AspNetCore.Components.Web
@namespace EficazFramework.Components
@inherits MudBlazor.MudComponentBase

<MudBlazor.MudPaper Elevation="5" 
                    Outlined 
                    Class="@Classname" 
                    Style="@StyleName"
                    @onclick="OnClick"
                    @onpointerdown="OnBorderPointerDown"
                    @onpointerup="OnBorderPointerUp">
    <CascadingValue Value="this">
        <!--HEADER-->
        <div class="d-flex flex-row" 
             style="cursor:default"
             @onpointerdown="OnHeaderPointerDown"
             @onpointerup="OnHeaderPointerUp">
            <MudBlazor.MudIcon Icon="@Icon"
                               Class="ma-2"
                               Style="width: 14px; height: 14px;"
                               @onpointermove:preventDefault/>
            <div class="d-flex flex-row flex-grow-1">
                <MudBlazor.MudText Typo="MudBlazor.Typo.caption"
                                   Class="mr-2 mt-1"
                                   @onpointermove:preventDefault>
                    @(ApplicationInstance != null ? ApplicationInstance.Title : Title)
                </MudBlazor.MudText>
                <div class="d-flex flex-row flex-grow-1">
                    @HeaderContent
                </div>
            </div>
            <MudBlazor.MudIconButton Icon="@MudBlazor.Icons.Material.Filled.Close"
                                     OnClick="OnClose"
                                     DisableElevation
                                     Variant="MudBlazor.Variant.Text"
                                     Size="MudBlazor.Size.Small"
                                     Class="align-self-start"
                                     Style="top:2px;"
                                     Title="Close"
                                     @onpointermove:preventDefault/>
        </div>
        <!--CONTENT-->
         <div class="ef-mdi-window-host d-flex flex-grow-1"
              style="cursor:default"
              @onpointerdown:stopPropagation>
            <FocusTrapEx Class="@HostClassname" 
                         DefaultFocus="@MudBlazor.DefaultFocus.FirstChild">
                @ChildContent
            </FocusTrapEx>
            <SnackbarProvider Style="position:absolute" 
                              SnackbarService="_snackbarService"/>
            @if(_dialog?.Type is not null)
            {
                <AbsoluteDialogContainer @ref="_dialogContainer"
                                         Title="@_dialog?.Title"
                                         TitleContent="_dialog?.TitleContent">
                    <DynamicComponent Type="@_dialog?.Type"
                                      Parameters="@_dialog?.Parameters" />
                </AbsoluteDialogContainer>
            }
        </div>
    </CascadingValue>
</MudBlazor.MudPaper>
