@using Microsoft.AspNetCore.Components.Web
@namespace EficazFramework.Components
@inherits MudBlazor.MudComponentBase

<MudBlazor.MudPaper Elevation="5" 
                    Outlined 
                    Class="@Classname" 
                    Style="@StyleName"
                    @onclick="OnClick">
    <CascadingValue Value="this">
        <!--HEADER-->
        <div class="d-flex flex-row" @ref="myRef"
             style="@($"cursor: {(isDragging ? "grabbing" : "grab")};")"
             draggable="true"
             @ondragstart="OnDragStart"
             @ondragend="OnDragEnd">
            <MudBlazor.MudIcon Icon="@Icon"
                               Class="ma-2"
                               Style="width: 14px; height: 14px;" />
            <div class="d-flex flex-row flex-grow-1">
                <MudBlazor.MudText Typo="MudBlazor.Typo.caption"
                                   Class="mr-2 mt-1">
                    @(ApplicationInstance != null ? ApplicationInstance.Title : Title)
                </MudBlazor.MudText>
                @HeaderContent
            </div>
            <MudBlazor.MudIconButton Icon="@MudBlazor.Icons.Material.Filled.Close"
                                     OnClick="OnClose"
                                     DisableElevation
                                     Variant="MudBlazor.Variant.Text"
                                     Size="MudBlazor.Size.Small"
                                     Title="Close"/>
        </div>
        <!--CONTENT-->
        <div class="ef-mdi-window-host d-flex flex-grow-1 "
             @ondragstart:preventDefault="true"
             @ondragstart:stopPropagation="true">
            <MudBlazor.MudFocusTrap Class="@HostClassname">
                @ChildContent
            </MudBlazor.MudFocusTrap>
        </div>
    </CascadingValue>
</MudBlazor.MudPaper>
