@inherits MudBlazor.MudComponentBase

<div style="@Style">
    <MudBlazor.MudTooltip Text="@Tooltip">
        <MudBlazor.MudIconButton Variant="@MudBlazor.Variant.Filled"
                                 Color="@MudBlazor.Color.Transparent"
                                 Class="@ToggleButtonClass()"
                                 Style="@ToggleButtonStyle()"
                                 Icon="@Icon"
                                 Size="@MudBlazor.Size.Large"
                                 DisableElevation
                                 OnClick="() => ToggleOpen()"
                                 Title="Start Menu" />
        @*START MENU FRAME*@
        <MudBlazor.MudPopover Open="IsOpen"
                              Elevation="0"
                              AnchorOrigin="@AnchorOrigin"
                              TransformOrigin="@TransformOrigin"
                              Style="background-color:unset">
            <MudBlazor.MudPaper Elevation="@Elevation"
                                Class="ef-mdi-startmenu d-flex flex-column mx-8 mb-8">
                @*HEADER*@
                @if (ShowHeader)
                {
                    <div class="ef-mdi-startmenu-header">
                        @Header
                    </div>
                }

                @*CONTENT*@
                <div class="ef-mdi-startmenu-content"
                     style="@ContentStyle()">
                    @Content
                </div>

                @*FOOTER*@
                @if (ShowFooter)
                {
                    <div class="ef-mdi-startmenu-footer">
                        @Footer
                    </div>
                }
            </MudBlazor.MudPaper>
        </MudBlazor.MudPopover>
    </MudBlazor.MudTooltip>
</div>