@inherits LayoutComponentBase

<PageTitle>EficazFramework.Tests.Blazor.Views</PageTitle>

<MudLayout>
    <MudAppBar Elevation="0">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="DocsDrawerToggle" />
        <MudText Typo="Typo.subtitle2">TestComponents</MudText>
        <MudSpacer />
    </MudAppBar>
    <MudDrawer @bind-Open="@drawerOpen" 
               Variant="DrawerVariant.Temporary" 
               ClipMode="DrawerClipMode.Always" 
               Breakpoint="Breakpoint.Xxl">
        <MudNavMenu>
            <MudNavGroup Title="Components" Expanded=@(IsSubGroupExpanded("/Components/")) ExpandIcon="@Icons.Material.Filled.ExpandMore">
                <MudNavLink Icon="@Icons.Filled.DataObject" Href="Components/DataViews/ExpressionBuilder">ExpressionBuilder</MudNavLink>
                <MudNavLink Icon="@Icons.Filled.Article" Href="Components/Dialogs/ViewModelDialog">ViewModelDialog</MudNavLink>
                <MudNavLink Icon="@Icons.Filled.Animation" Href="Components/Panels/Animation">Animation</MudNavLink>
                <MudNavLink Icon="@Icons.Filled.LastPage" Href="Components/Panels/Navigator">Navigator</MudNavLink>
                <MudNavLink Icon="@Icons.Filled.FindInPage" Href="Components/Panels/ObservableElement">ObservableElement</MudNavLink>
                <MudNavLink Icon="@Icons.Filled.Image" Href="Icons/Assets">Icons</MudNavLink>
                <MudNavLink Icon="@Icons.Filled.ImageAspectRatio" Href="Icons/Utilities">Icons Utilities</MudNavLink>
                <MudNavLink Icon="@Icons.Filled.Cookie" Href="Templates/CookieConsent">CookieConsent</MudNavLink>
            </MudNavGroup>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent Class="ef-background d-flex" id="scroll_content">
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="d-flex flex-column">
            <CascadingValue Name="UsePopoverProvider" Value="false"  IsFixed="true">
                <h3 class="my-4">@NavigationManager?.Uri.Substring((NavigationManager?.Uri.LastIndexOf("/") ?? 0) + 1)</h3>
                @Body
            </CascadingValue>
        </MudContainer>
    </MudMainContent>
</MudLayout>