@inherits LayoutComponentBase

<PageTitle>EficazFramework.Tests.Blazor.Views</PageTitle>

<MudLayout>
    <MudAppBar Elevation="0">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="DocsDrawerToggle" />
        <MudText Typo="Typo.subtitle2">TestComponents</MudText>
        <MudSpacer />
    </MudAppBar>
    <MudDrawer @bind-Open="@drawerOpen" 
               Variant="DrawerVariant.Temporary" 
               ClipMode="DrawerClipMode.Always" 
               Breakpoint="Breakpoint.Xxl">
        <MudNavMenu>
            <MudNavGroup Icon="@Icons.Material.Filled.SettingsInputComponent" Title="Components" Expanded=@(IsSubGroupExpanded("/Components/")) ExpandIcon="@Icons.Material.Filled.ExpandMore">
                <MudNavGroup Icon="@Icons.Material.Filled.TableRows" Title="DataViews" Expanded=@(IsSubGroupExpanded("/DataViews/")) ExpandIcon="@Icons.Material.Filled.ExpandMore">
                    <MudNavLink Icon="@Icons.Material.Filled.DataObject" Href="Components/DataViews/ExpressionBuilder">ExpressionBuilder</MudNavLink>
                </MudNavGroup>
                <MudNavGroup Icon="@Icons.Material.Filled.SpeakerNotes" Title="Dialogs" Expanded=@(IsSubGroupExpanded("/Dialogs/")) ExpandIcon="@Icons.Material.Filled.ExpandMore">
                    <MudNavLink Icon="@Icons.Material.Filled.Article" Href="Components/Dialogs/ViewModelDialog">ViewModelDialog</MudNavLink>
                </MudNavGroup>
                <MudNavGroup Icon="@Icons.Material.Filled.Edit" Title="Inputs" Expanded=@(IsSubGroupExpanded("/Inputs/")) ExpandIcon="@Icons.Material.Filled.ExpandMore">
                    <MudNavLink Icon="@Icons.Material.Filled.Style" Href="Components/Input/Styles">ExpressionBuilder</MudNavLink>
                </MudNavGroup>
                <MudNavGroup Icon="@Icons.Material.Filled.Grid3x3" Title="Panels" Expanded=@(IsSubGroupExpanded("/Panels/")) ExpandIcon="@Icons.Material.Filled.ExpandMore">
                    <MudNavLink Icon="@Icons.Material.Filled.Animation" Href="Components/Panels/Animation">Animation</MudNavLink>
                    <MudNavLink Icon="@Icons.Material.Filled.GridView" Href="Components/Panels/AppMenus">ApplicationsMenu</MudNavLink>
                    <MudNavLink Icon="@Icons.Material.Filled.List" Href="Components/Panels/Mdi">Mdi</MudNavLink>
                    <MudNavLink Icon="@Icons.Material.Filled.LastPage" Href="Components/Panels/Navigator">Navigator</MudNavLink>
                    <MudNavLink Icon="@Icons.Material.Filled.FindInPage" Href="Components/Panels/ObservableElement">ObservableElement</MudNavLink>
                </MudNavGroup>
            </MudNavGroup>
            <MudNavGroup Icon="@Icons.Material.Filled.PhotoLibrary" Title="Icons" Expanded=@(IsSubGroupExpanded("/Icons/")) ExpandIcon="@Icons.Material.Filled.ExpandMore">
                <MudNavLink Icon="@Icons.Material.Filled.Image" Href="Icons/Assets">Icons</MudNavLink>
                <MudNavLink Icon="@Icons.Material.Filled.ImageAspectRatio" Href="Icons/Utilities">Icons Utilities</MudNavLink>
                <MudNavLink Icon="@Icons.Material.Filled.Cookie" Href="Templates/CookieConsent">CookieConsent</MudNavLink>
            </MudNavGroup>
            <MudNavGroup Icon="@Icons.Material.Filled.ModelTraining" Title="Templates" Expanded=@(IsSubGroupExpanded("/Templates/")) ExpandIcon="@Icons.Material.Filled.ExpandMore">
                <MudNavLink Icon="@Icons.Material.Filled.Cookie" Href="Templates/CookieConsent">CookieConsent</MudNavLink>
            </MudNavGroup>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent Class="ef-background d-flex" id="scroll_content">
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="d-flex flex-column">
            <CascadingValue Name="UsePopoverProvider" Value="false"  IsFixed="true">
                <h3 class="my-4">@NavigationManager?.Uri.Substring((NavigationManager?.Uri.LastIndexOf("/") ?? 0) + 1)</h3>
                @Body
            </CascadingValue>
        </MudContainer>
    </MudMainContent>
</MudLayout>