@page "/"
@inject EficazFramework.Services.IThemeProvider ThemeProvider

<PageTitle>Home - EficazFramework</PageTitle>

<div class="h-100" style="position: absolute;top: auto;bottom: auto;width: 100%;display: grid;justify-items: end;opacity: 0.1;">
    <div style="height: 100vh; width: 15%; min-width: 125px; background-image: url('@(EficazFramework.Icons.Utilities.ToUri(EficazFramework.Icons.Brands.EficazGraphism, ThemeProvider.Theme.PaletteLight.Secondary.Value, "0 0 70 24"))');"></div>
</div>

<EficazFramework.Components.Animation KeyFrameName="fadeIn"
                                      Delay="0"
                                      Duration="1000"
                                      Direction="@EficazFramework.Enums.AnimationDirection.normal">
    <div style="position: absolute;top: 15%;bottom: auto;width: -webkit-fill-available;height: 28%;">
        <MudBlazor.MudIcon Icon="@EficazFramework.Icons.Brands.EfTitle" ViewBox="0 0 154 32" Style="width: -webkit-fill-available;height: 28%; margin-bottom: 96px" />
        <MudBlazor.MudText Typo="MudBlazor.Typo.h3" Align="MudBlazor.Align.Center">EficazFramework</MudBlazor.MudText>
        <br />
        <MudBlazor.MudText Typo="MudBlazor.Typo.h4" Align="MudBlazor.Align.Center">Sample Application</MudBlazor.MudText>
    </div>
</EficazFramework.Components.Animation>


<EficazFramework.Components.MdiHost @ref="_mdiHost"
                                    Class="h-100"
                                    ApplicationsSource="ApplicationManager?.RunningApplications"
                                    CurrentSection="ApplicationManager!.SectionManager.CurrentSectionId">
    <ToolbarLeftContent>
        <EficazFramework.Components.StartMenu @ref="_startMenu">
            <Content>
                <MudBlazor.MudTabs Position="@MudBlazor.Position.Left"
                                   Class="flex-grow-1 flex-shrink-0"
                                   PanelClass="d-flex flex-column ef-tabs-startmenu"
                                   MinimumTabWidth="64px"
                                   Color="MudBlazor.Color.Primary"
                                   Style="height: calc(100vh - 300px)">

                    <MudBlazor.MudTabPanel Icon="@MudBlazor.Icons.Material.Filled.GridView" ToolTip="Applications">

                        <EficazFramework.Components.ApplicationsMenu ItemsSource="@_mainApps"
                                                                     SelectionCallBack="AppClick"
                                                                     Class="ma-4"/>
                    </MudBlazor.MudTabPanel>

@*                     <MudBlazor.MudTabPanel Icon="@MudBlazor.Icons.Material.Filled.Image" ToolTip="UI / UX">

                        <EficazFramework.Components.ApplicationsMenu ItemsSource="@_uiApps"
                                                                     SelectionCallBack="AppClick"
                                                                     Class="ma-4" />

                    </MudBlazor.MudTabPanel>
 *@
                    <MudBlazor.MudTabPanel Icon="@MudBlazor.Icons.Material.Filled.History" ToolTip="Release Notes">

                        <VersionHistory/>

                    </MudBlazor.MudTabPanel>
                </MudBlazor.MudTabs>
            </Content>
        </EficazFramework.Components.StartMenu>
        <EficazFramework.Components.SectionsView ItemsSource="ApplicationManager.SectionManager.Sections"
                                                 @bind-CurrentSection="ApplicationManager.SectionManager.CurrentSectionId"
                                                 AutoManageSections="false"
                                                 NewSectionClick="NewSection"
                                                 CloseSectionClick="CloseSection"
                                                 CloseAllSectionsClick="CloseAllSections"
                                                 SectionChanged="SectionChanged" />
    </ToolbarLeftContent>
</EficazFramework.Components.MdiHost>

