@page "/Components/Input/Styles"


<MudGrid Spacing="3">
    <MudItem>
        <MudTextField T="string" Class="mud-input-control-ef" Text="blablablablablablablablabla"/>
    </MudItem>
    <MudItem>
        <MudTextField T="string" Class="mud-input-control-ef" Text="blablablablablablablablabla" Adornment="@MudBlazor.Adornment.Start" AdornmentIcon="@MudBlazor.Icons.Filled.Edit"/>
    </MudItem>
    <MudItem>
        <MudTextField T="string" Class="mud-input-control-ef" Text="blablablablablablablablabla" Adornment="@MudBlazor.Adornment.End" AdornmentIcon="@MudBlazor.Icons.Filled.Edit"/>
    </MudItem>

    <MudItem>
        <MudSelect T="string" Class="mud-input-control-ef" Text="blablablablablablablablabla" >
            <MudSelectItem T="string">Teste 1</MudSelectItem>
            <MudSelectItem T="string">Teste 2</MudSelectItem>
            <MudSelectItem T="string">Teste 3</MudSelectItem>
        </MudSelect>
    </MudItem>
    <MudItem>
        <MudSelect T="string" Class="mud-input-control-ef" Text="blablablablablablablablabla" >
            <MudSelectItem T="string">Teste 1</MudSelectItem>
            <MudSelectItem T="string">Teste 2</MudSelectItem>
            <MudSelectItem T="string">Teste 3</MudSelectItem>
        </MudSelect>
    </MudItem>
    <MudItem>
        <MudSelect T="string" Class="mud-input-control-ef" Text="blablablablablablablablabla" >
            <MudSelectItem T="string">Teste 1</MudSelectItem>
            <MudSelectItem T="string">Teste 2</MudSelectItem>
            <MudSelectItem T="string">Teste 3</MudSelectItem>
        </MudSelect>
    </MudItem>

    <MudItem>
        <MudAutocomplete T="string" Class="mud-input-control-ef"  Text="blablablablablablablablabla"/>
    </MudItem>

    <MudItem>
        <MudDatePicker Class="mud-input-control-ef" Adornment="@MudBlazor.Adornment.End" AdornmentIcon="@MudBlazor.Icons.Filled.Edit"/>
    </MudItem>
</MudGrid>
<div class="d-flex flex-column">
    <MudBlazor.MudTextField Class="mud-input-control-ef flex-grow-0" 
                            Label="Nome de Usuário" 
                            T="string"/>
    <div class="d-flex">
        <MudBlazor.MudTextField Class="mud-input-control-ef flex-grow-1" 
                                InputType="MudBlazor.InputType.Password"
                                Label="Senha" 
                                T="string"/>
        <MudBlazor.MudButton Variant="@MudBlazor.Variant.Filled"
                                Color="@MudBlazor.Color.Primary"
                                Size="@MudBlazor.Size.Small"
                                Class="ml-2 login-button align-self-end px-4" >
            @(">")
        </MudBlazor.MudButton>
    </div>
</div>
