@page "/Components/Input/Styles"


<MudGrid Spacing="3">
    <MudItem lg="3" md="3" sm="12">
        <MudFocusTrap>
            <MudTextField T="string" Class="mud-input-control-ef" Text="blablablablablablablablabla" FullWidth />
        </MudFocusTrap>
    </MudItem>
    <MudItem lg="3" md="3" sm="12">
        <MudTextField T="string" Class="mud-input-control-ef" Text="blablablablablablablablabla" Adornment="@MudBlazor.Adornment.Start" AdornmentIcon="@MudBlazor.Icons.Material.Filled.Edit" FullWidth />
    </MudItem>
    <MudItem lg="3" md="3" sm="12">
        <MudTextField T="string" Class="mud-input-control-ef" Text="blablablablablablablablabla" Adornment="@MudBlazor.Adornment.End" AdornmentIcon="@MudBlazor.Icons.Material.Filled.Edit" FullWidth />
    </MudItem>
    <MudItem lg="3" md="3" sm="12">
        <DocumentField T="string" Class="mud-input-control-ef" Text="Isento" Adornment="@MudBlazor.Adornment.End" AdornmentIcon="@MudBlazor.Icons.Material.Filled.Edit" FullWidth />
    </MudItem>

    <MudItem lg="3" md="3" sm="12">
        <MudSelect T="string" Class="mud-input-control-ef" Text="blablablablablablablablabla" >
            <MudSelectItem T="string">Teste 1</MudSelectItem>
            <MudSelectItem T="string">Teste 2</MudSelectItem>
            <MudSelectItem T="string">Teste 3</MudSelectItem>
        </MudSelect>
    </MudItem>
    <MudItem lg="3" md="3" sm="12">
        <MudSelect T="string" Class="mud-input-control-ef" Text="blablablablablablablablabla" >
            <MudSelectItem T="string">Teste 1</MudSelectItem>
            <MudSelectItem T="string">Teste 2</MudSelectItem>
            <MudSelectItem T="string">Teste 3</MudSelectItem>
        </MudSelect>
    </MudItem>
    <MudItem lg="3" md="3" sm="12">
        <MudSelect T="string" Class="mud-input-control-ef" Text="blablablablablablablablabla" >
            <MudSelectItem T="string">Teste 1</MudSelectItem>
            <MudSelectItem T="string">Teste 2</MudSelectItem>
            <MudSelectItem T="string">Teste 3</MudSelectItem>
        </MudSelect>
    </MudItem>

    <MudItem lg="3" md="3" sm="12">
        <MudAutocomplete SearchFunc="StringsAsync" T="string" Class="mud-input-control-ef" Text="blablablablablablablablabla" />
    </MudItem>

    <MudItem lg="3" md="3" sm="12">
        <MudDatePicker Class="mud-input-control-ef" Adornment="@MudBlazor.Adornment.End" AdornmentIcon="@MudBlazor.Icons.Material.Filled.Edit"/>
    </MudItem>
</MudGrid>
<div class="d-flex flex-column">
    <MudBlazor.MudTextField Class="mud-input-control-ef flex-grow-0" 
                            Label="Nome de Usuário" 
                            T="string"/>
    <div class="d-flex">
        <MudBlazor.MudTextField Class="mud-input-control-ef flex-grow-1" 
                                InputType="MudBlazor.InputType.Password"
                                Label="Senha" 
                                T="string"/>
        <MudBlazor.MudButton Variant="@MudBlazor.Variant.Filled"
                                Color="@MudBlazor.Color.Primary"
                                Size="@MudBlazor.Size.Small"
                                Class="ml-2 login-button align-self-end px-4"
                                Style="height: 37px;">
            <MudIcon Icon="@MudBlazor.Icons.Material.Filled.LockOpen"/>
        </MudBlazor.MudButton>
        <MudBlazor.MudButton Variant="@MudBlazor.Variant.Filled"
                             Color="@MudBlazor.Color.Secondary"
                             Size="@MudBlazor.Size.Small"
                             Class="ml-2 login-button align-self-end px-4"
                             Style="height: 37px;">
            <MudIcon Icon="@MudBlazor.Icons.Material.Filled.LockOpen" />
        </MudBlazor.MudButton>
        <MudBlazor.MudButton Variant="@MudBlazor.Variant.Filled"
                             Color="@MudBlazor.Color.Tertiary"
                             Size="@MudBlazor.Size.Small"
                             Class="ml-2 login-button align-self-end px-4"
                             Style="height: 37px;">
            <MudIcon Icon="@MudBlazor.Icons.Material.Filled.LockOpen" />
        </MudBlazor.MudButton>
        <MudBlazor.MudButton Variant="@MudBlazor.Variant.Filled"
                             Color="@MudBlazor.Color.Transparent"
                             Size="@MudBlazor.Size.Small"
                             Class="ml-2 login-button align-self-end px-4"
                             Style="height: 37px;">
            <MudIcon Icon="@MudBlazor.Icons.Material.Filled.LockOpen" />
        </MudBlazor.MudButton>
    </div>
</div>

@code {

    private async Task<IEnumerable<string>> StringsAsync(string literal, CancellationToken token)
    {
        await Task.Delay(1);
        return ["01", "02"];
    }
}