@page "/Components/Panels/Mdi"

<div class="d-flex flex-grow-1" style="margin-left:-16px;margin-right:-16px;margin-bottom:8px;">
    <MdiHost @ref="_mdi" 
             ItemsSource="ApplicationManager?.RunningApplications"
             CurrentSection="ApplicationManager!.SectionManager.CurrentSection.ID">
        <ToolbarLeftContent>
            <EficazFramework.Components.Panels.StartMenu @ref="_startMenu">
                <Content>
                    <MudTabs Position="@MudBlazor.Position.Left"
                             Class="flex-grow-1 flex-shrink-0"
                             PanelClass="d-flex flex-column"
                             MinimumTabWidth="64px"
                             Color="Color.Primary"
                             Style="height: calc(100vh - 300px)">
                        <MudTabPanel Icon="@MudBlazor.Icons.Material.Filled.GridView">
                            <EficazFramework.Components.Panels.ApplicationsMenu ItemsSource="ApplicationManager?.AllApplications"
                                                                                Class="ma-4"
                                                                                SelectionCallBack="@(app => AppClick(app))"/>
                        </MudTabPanel>
                        <MudTabPanel Icon="@MudBlazor.Icons.Material.Filled.Filter">
                            @*<EficazFramework.Components.Panels.ApplicationsMenu ItemsSource="ApplicationManager?.AllApplications" />*@
                        </MudTabPanel>
                        <MudTabPanel Icon="@MudBlazor.Icons.Material.Filled.Image">
                            @*<EficazFramework.Components.Panels.ApplicationsMenu ItemsSource="ApplicationManager?.AllApplications" />*@
                        </MudTabPanel>
                    </MudTabs>
                </Content>
            </EficazFramework.Components.Panels.StartMenu>
            <EficazFramework.Components.Panels.SectionsView ItemsSource="ApplicationManager?.SectionManager.Sections"
                                                            AutoManageSections="false"
                                                            NewSectionClick="NewSection"
                                                            CloseSectionClick="CloseSection"
                                                            CloseAllSectionsClick="CloseAllSections"
                                                            @bind-CurrentSection="ApplicationManager!.SectionManager!.CurrentSectionId"/>
        </ToolbarLeftContent>
    </MdiHost>
</div>
