@page "/Components/Panels/Mdi"

<MudPopoverProvider/>

<div class="d-flex flex-grow-1" style="margin-left:-24px;margin-right:-24px">
    <MdiHost @ref="_mdi" ItemsSource="ApplicationManager.RunningApplications" >
        <StartMenuFooter>
            <MudBlazor.MudText Typo="@MudBlazor.Typo.body1">
                footer here...
            </MudBlazor.MudText>
        </StartMenuFooter>
        <StartMenuTabs>
            @*MAIN APPLICATION TABS IS INBUILT, JUST ADD YOUR ADITIONAL TABS...*@
            <MudTabPanel Tag="@("Help")"
                         Icon="@MudBlazor.Icons.Filled.Help">
                there are nothing to show here... sorry 
            </MudTabPanel>
            <MudTabPanel Tag="@("Under Constructionressos")"
                         Icon="@MudBlazor.Icons.Filled.Workspaces">
                neither here
            </MudTabPanel>
        </StartMenuTabs>
    </MdiHost>
</div>
