@inject EficazFramework.Services.IThemeProvider themeProvider

<MudBlazor.MudThemeProvider Theme=@themeProvider.Theme/>
<MudBlazor.MudDialogProvider/>
<MudBlazor.MudSnackbarProvider/>

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
