@page "/Icons/Assets"

<MudGrid Spacing="3">
    
@*    @foreach(string icon in new string[] {EficazFramework.Icons.Brands.Eficaz, 
                                          EficazFramework.Icons.Brands.Eficaz_Title,
                                          EficazFramework.Icons.Brands.Eficaz_Legacy})
                                          {
                                          }
*@
    <MudItem>
        <MudPaper Outlined Elevation="1" Class="pa-2 d-flex flex-column" Style="background-color: var(--mud-palette-surface)">
            <MudPaper Elevation="0" Class="justify-center align-center relative" Style="background-color: var(--mud-palette-background-grey)">
                <MudIcon Icon="@EficazFramework.Icons.Brands.Eficaz" Class="ma-4" Style="width: 96px; height: 96px" />
            </MudPaper>
            <h6 class="mud-typography mud-typography-subtitle2 mud-inherit-text mt-1" style="font-weight: 600">Logo</h6>
        </MudPaper>
    </MudItem>

    <MudItem>
        <MudPaper Outlined Class="pa-2 d-flex flex-column">
            <MudPaper Elevation="0" Class="justify-center align-center relative" Style="background-color: var(--mud-palette-background-grey)">
                <MudIcon Icon="@EficazFramework.Icons.Brands.EficazTitleVertical" Class="ma-4" Style="width: 96px; height: 96px" />
            </MudPaper>
            <h6 class="mud-typography mud-typography-subtitle2 mud-inherit-text mt-1" style="font-weight: 600">Logo (Vertical)</h6>
        </MudPaper>
    </MudItem>

    <MudItem>
        <MudPaper Outlined Class="pa-2 d-flex flex-column">
            <MudPaper Elevation="0" Class="justify-center align-center relative" Style="background-color: var(--mud-palette-background-grey)">
                <MudIcon Icon="@EficazFramework.Icons.Brands.EficazLegacy" Class="ma-4"  ViewBox="0 0 24 24" Style="width: 96px; height: 96px" />
            </MudPaper>
            <h6 class="mud-typography mud-typography-subtitle2 mud-inherit-text mt-1" style="font-weight: 600">Logo (Legacy)</h6>
        </MudPaper>
    </MudItem>
    
    <MudItem>
        <MudPaper Outlined Class="pa-2 d-flex flex-column">
            <MudPaper Elevation="0" Class="justify-center align-center relative" Style="background-color: var(--mud-palette-background-grey)">
                <MudIcon Icon="@EficazFramework.Icons.Brands.EficazTitle" Class="ma-4" ViewBox="0 0 67 24" Style="width: auto; height: 96px" />
            </MudPaper>
            <h6 class="mud-typography mud-typography-subtitle2 mud-inherit-text mt-1" style="font-weight: 600">Title</h6>
        </MudPaper>
    </MudItem>

    <MudItem>
        <MudPaper Outlined Class="pa-2 d-flex flex-column">
            <MudPaper Elevation="0" Class="justify-center align-center relative" Style="background-color: var(--mud-palette-background-grey)">
                <MudIcon Icon="@EficazFramework.Icons.Brands.EficazTitleAlt" Class="ma-4" ViewBox="0 0 116 24" Style="width: auto; height: 96px" />
            </MudPaper>
            <h6 class="mud-typography mud-typography-subtitle2 mud-inherit-text mt-1" style="font-weight: 600">Title (Long)</h6>
        </MudPaper>
    </MudItem>
    
    <MudItem>
        <MudPaper Outlined Class="pa-2 d-flex flex-column">
            <MudPaper Elevation="0" Class="justify-center align-center relative" Style="background-color: var(--mud-palette-background-grey)">
                <MudIcon Icon="@EficazFramework.Icons.Products.EficazContabil" Class="ma-4" Style="width: auto; height: 96px" />
            </MudPaper>
            <h6 class="mud-typography mud-typography-subtitle2 mud-inherit-text mt-1" style="font-weight: 600">Contábil (Filled)</h6>
        </MudPaper>
    </MudItem>

    <MudItem>
        <MudPaper Outlined Class="pa-2 d-flex flex-column">
            <MudPaper Elevation="0" Class="justify-center align-center relative" Style="background-color: var(--mud-palette-background-grey)">
                <MudIcon Icon="@EficazFramework.Icons.Products.EficazContabilAlt" Class="ma-4" Style="width: auto; height: 96px" />
            </MudPaper>
            <h6 class="mud-typography mud-typography-subtitle2 mud-inherit-text mt-1" style="font-weight: 600">Contábil (Alt)</h6>
        </MudPaper>
    </MudItem>

    <MudItem>
        <MudPaper Outlined Class="pa-2 d-flex flex-column">
            <MudPaper Elevation="0" Class="justify-center align-center relative" Style="background-color: var(--mud-palette-background-grey)">
                <MudIcon Icon="@EficazFramework.Icons.Products.EficazFiscal" Class="ma-4" Style="width: auto; height: 96px" />
            </MudPaper>
            <h6 class="mud-typography mud-typography-subtitle2 mud-inherit-text mt-1" style="font-weight: 600">Fiscal (Filled)</h6>
        </MudPaper>
    </MudItem>

    <MudItem>
        <MudPaper Outlined Class="pa-2 d-flex flex-column">
            <MudPaper Elevation="0" Class="justify-center align-center relative" Style="background-color: var(--mud-palette-background-grey)">
                <MudIcon Icon="@EficazFramework.Icons.Products.EficazFiscalAlt" Class="ma-4" Style="width: auto; height: 96px" />
            </MudPaper>
            <h6 class="mud-typography mud-typography-subtitle2 mud-inherit-text mt-1" style="font-weight: 600">Fiscal (Alt)</h6>
        </MudPaper>
    </MudItem>

    <MudItem>
        <MudPaper Outlined Class="pa-2 d-flex flex-column">
            <MudPaper Elevation="0" Class="justify-center align-center relative" Style="background-color: var(--mud-palette-background-grey)">
                <MudIcon Icon="@EficazFramework.Icons.Products.EficazNFe" Class="ma-4" Style="width: auto; height: 96px" />
            </MudPaper>
            <h6 class="mud-typography mud-typography-subtitle2 mud-inherit-text mt-1" style="font-weight: 600">NF-e (Filled)</h6>
        </MudPaper>
    </MudItem>

    <MudItem>
        <MudPaper Outlined Class="pa-2 d-flex flex-column">
            <MudPaper Elevation="0" Class="justify-center align-center relative" Style="background-color: var(--mud-palette-background-grey)">
                <MudIcon Icon="@EficazFramework.Icons.Products.EficazNFeAlt" Class="ma-4" Style="width: auto; height: 96px" />
            </MudPaper>
            <h6 class="mud-typography mud-typography-subtitle2 mud-inherit-text mt-1" style="font-weight: 600">NF-e (Alt)</h6>
        </MudPaper>
    </MudItem>
    
    <MudItem>
        <MudPaper Outlined Class="pa-2 d-flex flex-column">
            <MudPaper Elevation="0" Class="justify-center align-center relative" Style="background-color: var(--mud-palette-background-grey)">
                <MudIcon Icon="@EficazFramework.Icons.Products.EficazRural" Class="ma-4" Style="width: auto; height: 96px" />
            </MudPaper>
            <h6 class="mud-typography mud-typography-subtitle2 mud-inherit-text mt-1" style="font-weight: 600">Rural (Filled)</h6>
        </MudPaper>
    </MudItem>

    <MudItem>
        <MudPaper Outlined Class="pa-2 d-flex flex-column">
            <MudPaper Elevation="0" Class="justify-center align-center relative" Style="background-color: var(--mud-palette-background-grey)">
                <MudIcon Icon="@EficazFramework.Icons.Products.EficazRuralAlt" Class="ma-4" Style="width: auto; height: 96px" />
            </MudPaper>
            <h6 class="mud-typography mud-typography-subtitle2 mud-inherit-text mt-1" style="font-weight: 600">Rural (Alt)</h6>
        </MudPaper>
    </MudItem>
    
</MudGrid>