@using MudBlazor.Resources
@namespace EficazFramework.Components
@inherits MudBlazor.MudComponentBase

@{
#nullable enable
}

<div class="@Class" @attributes="UserAttributes">
    <MudBlazor.MudOverlay Absolute
                          Visible
                          Class="@BackgroundClassname"
                          DarkBackground />

    <div @ref="_dialogContainerReference" role="dialog" class="@Classname" style="@Style" tabindex="-1">
        <div class="@TitleClassname">
            @if (TitleContent is null)
            {
                <MudBlazor.MudText Typo="MudBlazor.Typo.h6">@Title</MudBlazor.MudText>
            }
            else
            {
                @TitleContent
            }
        </div>
        @ChildContent
    </div>
</div>
