@namespace EficazFramework.Components

<CascadingValue Name="MDIFrame" Value="this">
    <MudBlazor.MudPaper Elevation="2" Class="d-flex flex-row py-2 px-1 mud-theme-primary" Square Style="z-index:2">
        <MudBlazor.MudIcon Class="pa-2 mx-2 flex-grow-0 flex-shrink-0 align-self-center" Size="@MudBlazor.Size.Large" Icon="@ResolvedIcon()" />
        <MudBlazor.MudText Class="pa-2 align-self-center">@Application.TooltipTilte</MudBlazor.MudText>
        <MudBlazor.MudSpacer />
        <div class="pa-2 d-flex align-self-center">
            @CustomToolBarActions
        </div>
        <MudBlazor.MudTooltip Text="@Resources.Strings.Components.MDIApplication_Close" Placement="@MudBlazor.Placement.Bottom">
            <MudBlazor.MudIconButton Class="pa-2 flex-grow-0 flex-shrink-1 align-self-center" Icon="@MudBlazor.Icons.Material.Filled.Close" Size="@MudBlazor.Size.Small" OnClick="Close" Style="color:var(--mud-palette-primary-text)" />
        </MudBlazor.MudTooltip>
    </MudBlazor.MudPaper>

    <div class="mdi-application">
        @ChildContent
    </div>
</CascadingValue>


